<!-- Meta Magic -->
<%
meta title: "Contact Us - Southern Dustless Blasting",
     description: "We are a Dustless Blasting, Sand Blasting, and Pressure Washing company serving the northern Gulf Coast. Contact us today to see why Dustless Blasting is perfect for your job!",
     keywords: %w(Dustless Blasting, Pressure Washing, Sand Blasting)
%>
 <!-- Start Pages Title Style1 -->

<section id="Page-title" class="Page-title-Style1">
    <div class="container inner-Pages">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-6 Title-Pages">
                    <h2>Contact Us</h2>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- End Pages Title Style1 -->

<!-- Start TXT with Slider -->

<section id="about" class="light-wrapper">
    <div class="container inner">
        <div class="row">
        <div class="TextImg-Block">
            <center><h3>Get In Touch</h3></center><br><br>
            </div>
            
           
            <div class="col-md-6">
                
                    
                   
                    <p>Contact us today to get more information on our Dustless Blasting services, or to get a free quote!</p><br>
                    <p><strong>Phone: <a href="tel:+12512333699">(251) 233-3699</a></strong></p><br>
                    <p><strong>Email: <a href="mailto:sdblasting1@gmail.com">sdblasting1@gmail.com</a></strong></p><br>
                    <p><strong>Like our page on <a href="">Facebook</a></strong></p><br><br>
                    
                        
                </div>

                <div class="col-md-6">
                <%= image_tag("map.jpg", :alt => "Our Service Area - Robinson's Moving Service", ) %><br><br>
            </div>
            </div>
            
        </div>
        <div class="divcod30"></div>
    </div>
</section>

<!-- End TXT with Slider -->
