<!-- Meta Magic -->
<%
meta title: "Industrial Coatings - Southern Dustless Blasting",
     description: "We are a Dustless Blasting company serving the northern Gulf Coast. We offer Coating solutions for industrial applications. Contact us today to see why Dustless Blasting is perfect for your job!",
     keywords: %w(Dustless Blasting, Pressure Washing)
%>
 <!-- Start Pages Title Style1 -->

<section id="Page-title" class="Page-title-Style1">
    <div class="container inner-Pages">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-6 Title-Pages">
                    <h1><strong>Industrial Coating Services</strong></h1>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- End Pages Title Style1 -->

<!-- Start TXT with Slider -->

<section id="about" class="light-wrapper">
    <div class="container inner">
        <div class="row">
        <div class="TextImg-Block">
            <center><h3>Coating Services For Commercial Applications</h3></center><br><br>
            </div>
            <div class="col-md-4">
               <center> <%= image_tag("indust-parking.jpg", :alt => "Southern Dustless Blasting", ) %></center><br>
            </div>
            <div class="col-md-8">
                <div class="TextImg-Block">
                    
                    <p>At Southern Dustless Blasting we have the ability to offer Coating services for a wide range of industrial applications. We do everything from basic corrosion protection for exterior surfaces to high-performance coatings and linings for highly corrosive environment. We are a mobile operation, so we can easily come to you to accomplish the job.</p>

                    </div>

                    <p><strong>Contact Us at <span style="color:#00843d;">(251) 233-3699</span> for more information, or to get a free estimate. </strong></p><br>


                    <!-- <center><p><strong>Examples of Commercial Services</strong></p></center>

                    <div class="col-md-4">
                        <p><strong>Construction Equipment</strong></p>
                        <p>Asphalt Tar Cleaning</p>
                        <p>Equipment Repainting</p>
                        <p>Paint & Rust Removal</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Factories & Warehouses</strong></p>
                        <p>Building Surface Cleaning</p>
                        <p>Coating & Paint Removal</p>
                        <p>Concrete Surface Cleaning</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Industrial & Refineries</strong></p>
                        <p>Equipment Cleaning</p>
                        <p>Floor & Surface Cleaning</p>
                        <p>Removal of Product Buildup</p>
                    </div><br><br>
                     -->
                    
                    
                </div>
            </div><br><br>
            
            <div class="row">
           
            <div class="col-md-4">
               <center> <%= image_tag("indust-pipe.jpg", :alt => "Southern Dustless Blasting", ) %></center>
            </div>  
            
        </div>
    </div>
</section>

<!-- End TXT with Slider