<!-- Meta Magic -->
<%
meta title: "Pressure Washing Services - Southern Dustless Blasting",
     description: "We are a Dustless Blasting and Pressure Washing company service the northern Gulf Coast. Contact us today to see why Dustless Blasting is perfect for your job!",
     keywords: %w(Dustless Blasting, Pressure Washing)
%>
 <!-- Start Pages Title Style1 -->

<section id="Page-title" class="Page-title-Style1">
    <div class="container inner-Pages">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-6 Title-Pages">
                    <h2><strong>Pressure Washing Services</strong></h2>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- End Pages Title Style1 -->

<!-- Start TXT with Slider -->

<section id="about" class="light-wrapper">
    <div class="container inner">
        <div class="row">
        <div class="TextImg-Block">
            <center><h3>Residential Pressure Washing</h3></center><br><br>
            </div>
            <div class="col-md-4">
               <center> <%= image_tag("pressurewasher.jpg", :alt => "Southern Dustless Blasting", ) %></center><br>
            </div>
            <div class="col-md-8">
                <div class="TextImg-Block">
                    
                    <p>For any jobs that don't require the full power of the Dustless Blaster, we also offer <strong>residential and commercial pressure washing services</strong>. We specialize in home and driveway cleaning, commercial pressure washing jobs, and service most areas of Baldwin and Mobile Counties in Alabama, and Escambia County in Florida. Whether you need the siding cleaned on your home, trying to get your deck looking like new, or just want to remove spots from your driveway, we can help with any and all residential pressure washing needs.</p>

                    </div>

                    <p><strong>Contact Us at <span style="color:#00843d;">(251) 233-3699</span> for more information, or to get a free estimate. </strong></p>
                    
                    
                    
                </div>
            </div>
            
            <div class="row">
            <div class="col-md-4">
               <center> <%= image_tag("pressure-washing.jpg", :alt => "Southern Dustless Blasting", ) %></center>
            </div>
            
        </div>
    </div>
</section>

<!-- End TXT with Slider -->