<!-- Meta Magic -->
<%
meta title: "Our Services - Southern Dustless Blasting",
     description: "We are a Dustless Blasting, Sand Blasting, and Pressure Washing company serving the northern Gulf Coast. Contact us today to see why Dustless Blasting is perfect for your job!",
     keywords: %w(Dustless Blasting, Pressure Washing, Sand Blasting)
%>
 <!-- Start Pages Title Style1 -->

<section id="Page-title" class="Page-title-Style1">
    <div class="container inner-Pages">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-6 Title-Pages">
                    <h1><strong>Our Services</strong></h1>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- End Pages Title Style1 -->

<!-- Start TXT with Slider -->

<section id="about" class="light-wrapper">
    <div class="container inner">
        <div class="row">
        <center><%= image_tag("truck-before-after.jpg", :alt => "Southern Dustless Blasting", ) %></center>
        <div class="TextImg-Block">
            <center><h3>Everything in the world is painted and dirty.</h3></center><br><br>
            </div>
            <div class="col-md-12">

                <div class="TextImg-Block">

                    <p><strong>Powder Coating </strong> - Removing powder coating can be extremely challenging, but with Dustless Blasting's powerful and quick process, you won't have to worry about a thing.</p>
                    
                    <p><strong>Marine </strong> -The Dustless Blaster is the safest and most efficient tool for maintaining, restoring and cleaning your marine vessel.</p>

                    <p><strong>Automotive Restoration </strong> - Dustless Blasting is the perfect tool to eliminate Body Filler, Warping, Rust and DUST!</p>

                    <p><strong>Fleet Vehicles</strong> - Keeping fleet vehicles up to date and looking their best can be expensive and time consuming. Learn how Dustless Blasting will be your #1 tool in maintaining your vehicles.</p>

                    <p><strong>Graffiti Removal </strong> - Graffiti plagues every community and can greatly diminish property values. Dustless Blasting can quickly and safely restore the site to its intended beauty.</p>

                    <p><strong>Line Stripe Removal </strong> - Dustless Blasting is the perfect tool for removing road stripes, fire lanes and any other pavement striping.</p>

                    <p><strong>Heavy Equipment </strong> - For industrial strength coatings, you'll need the world's most powerful tool for restoration, the Dustless Blaster. </p>

                    <p><strong>Surface Cleaning </strong> - Meet the perfect tool for cleaning and restoring any type of masonry, stone, brick, concrete and so much more.</p>

                    

                    <p><strong>Wood Restoration </strong> - Restoring wood can be a tricky process depending on the type of wood, as well as the intricacy of the carpentry. With Dustless Blasting, you won't have to worry about a thing.</p>

                     </div>

                     <p><strong>We also offer <a href="">Pressure Washing</a> services, for when your job doesn't require the power of the Dustless Blaster!</strong></p><br>

                     <p><strong>Contact Us at <span style="color:#00843d;">(251) 233-3699</span> for more information, or to get a free estimate. </strong></p>

                     


                    
                    
                        
                    
                    
                    
               
                
            </div>
            
        </div>
    </div>
</section>

<!-- End TXT with Slider -->