<!-- Meta Magic -->
<%
meta title: "Thank You! - Robinson's Moving Service",
     description: "We are Baldwin County's Most Experienced Movers. Serving Gulf Shores, Orange Beach, Foley, Daphne, Fairhope, Loxley and Spanish Fort since 1995. Get your free estimate today!",
     keywords: %w(Movers Moving)
%>
 <!-- Start Pages Title Style1 -->

<section id="Page-title" class="Page-title-Style1">
    <div class="container inner-Pages">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-6 Title-Pages">
                    <h2>Thank You!</h2>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- End Pages Title Style1 -->

<!-- Start TXT with Slider -->

<section id="about" class="light-wrapper">
    <div class="container inner">
        <div class="row">
        <div class="TextImg-Block">
            <center><h3>Your free estimate request form has been submitted.</h3>
            <p> </p></center><br><br>
            </div>
            <div class="col-md-12">
                
                    
                   
                    <p><strong>We appreciate you inquiring about an estimate for your move. We will contact you shortly with your estimate, and more information. We know moving can be stressful, and our goal is to make it as easy and pleasant as possible. Thank you for taking time to visit our site. </strong></p><br><br>

                    <p><strong>If you have any other questions, be sure to check out our <%= link_to "Frequently Asked Questions", faqs_path %> page, or call us directly at <span style="color:#4396ff;">(251) 943-3264</span>.</strong></p>
                    
                    
                    
                    
                
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </div>
    </div>
</section>

<!-- End TXT with Slider -->