<!-- Meta Magic -->
<%
meta title: "What is Dustless Blasting - Southern Dustless Blasting",
     description: "We are a Dustless Blasting, Sand Blasting, and Pressure Washing company serving the northern Gulf Coast. Contact us today to see why Dustless Blasting is perfect for your job!",
     keywords: %w(Dustless Blasting, Pressure Washing, Sand Blasting)
%>
 <!-- Start Pages Title Style1 -->

<section id="Page-title" class="Page-title-Style1">
    <div class="container inner-Pages">
        <div class="row">
            <div class="Page-title">
                <div class="col-md-6 Title-Pages">
                    <h1><strong>What Is Dustless Blasting?</strong></h1>
                </div>
                
            </div>
        </div>
    </div>
</section>

<!-- End Pages Title Style1 -->

<!-- Start TXT with Slider -->

<section id="about" class="light-wrapper">
    <div class="container inner">
        <div class="row">
        <div class="TextImg-Block">
            <center><h3>The Future of Surface Preparation</h3></center><br><br>
            </div>
            <div class="col-md-4">
               <center> <%= image_tag("trailer-1.jpg", :alt => "Southern Dustless Blasting", ) %></center>
            </div>
            <div class="col-md-8">
                <div class="TextImg-Block">
                    
                    <p>Dustless Blasting works by mixing water and abrasive inside the blast tank. By introducing water we’re drastically increasing mass and energy the machine is putting out, while eliminating dust. Imagine throwing a handful of dry sand, versus throwing a handful of wet sand; which one is going to have a more significant impact on the target? Not only will the wet sand hit the target harder, but it won’t disintegrate and become a cloud of dust like the dry sand will. This is the very simple principle behind Dustless Blasting. </p>

                    <p>Dustless Blasting will NOT cause warping, because friction and heat are reduced by the water. Warping occurs when the metal heats up due to friction from dry abrasive. In fact the temperature of the metal being blasted usually comes down about 10 degrees from ambient.</p>
                    
                    <p>We use a specially formulated rust inhibitor to prevent flash rust for up to 72 hours. This extremely effective rust inhibitor is added to the blast water to prevent flash rust during blasting, and then used to rinse after blasting is complete.</p>

                    <p>Our machines are 100% Eco Friendly. Dustless Blasting can be used to etch concrete without using acids! Chemical etching is an environmental nightmare.</p>

                    </div>

                    <p><strong>Contact Us at <span style="color:#00843d;">(251) 233-3699</span> for more information, or to get a free estimate. </strong></p><br><br>
                    
                    
                    
                </div>
            </div>
            <div class="col-md-12">
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-6">
                <center><h3>See Dustless Blasting In Action!</h3>
                <center><%= video_tag "pontoon.mp4", :width => "100%", :controls => true %></center></center>
            </div>
            </div>
            
        </div>
    </div>
</section>

<!-- End TXT with Slider -->