<section id="footer-2" class="light-wrapper">
  <div class="container inner-f">
    <div class="row">
      <div class="Footer-Blocks">
        <div class="col-md-4">
          <div class="Top-Block-Footer"><h2>About Us</h2></div>
          <div class="divcod20"></div>
          <div class="Contact-Footer">
            <p>We are a local, Gulf Coast Media Blasting and Resurfacing company specializing in a wide range of applications.</p>
          </div>
        </div>

        <div class="col-md-4">
          <div class="Top-Block-Footer"><h2>Contact Us</h2></div>
          <div class="divcod20"></div>
          <div class="Contact-Footer">
            <strong>
              <p><a href="mailto:sdblasting1@gmail.com">sdblasting1@gmail.com</a></p>
              <p><a href="tel:+12512333699">(251) 233-3699</a></p>
              <p>Like our page on <a href="https://www.facebook.com/southerndustlessblastingAL/">Facebook</a>!</p>
            </strong>
          </div>
        </div>

        <div class="col-md-4">
          <div class="Logo-About">
          <div class="divcod20"></div>
            <center>
              <%= link_to root_path, data: {no_turbolink: true} do %>
                <%= image_tag("southern-blasting-coating.jpg", :alt => "Southern Blasting & Coatings",  :class => "logo-desk") %>
              <% end %>
            </center><br><br>
          </div>

          <div class="Bottom-Block-Footer">
            <div class="About">
              <p></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="Bottom-Footer">
  <div class="container inner-f">
    <div class="row">
      <div class="col-md-6">
        <div class="Rights-Reserved">
          <center><h2>All Rights Reserved © <%= Date.today.year %> Southern Dustless Blasting. </h2></center>
        </div>
      </div>

      <div class="col-md-6 text-center">
        <div class="Link-Footer">
          <ul>
            <li><a href="#">Web Design by High Seas Design House</a></li>  
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
