<section class="Header-Style3 hs3-custom">
  <div class="mobile-show" style="margin: 5px 0px;">
    <center><p><strong>&nbsp;<a href="tel:+12512333699">Call Today: (251) 233-3699</a></strong></p></center>
  </div>

  <div class="Navbar-Header navbar basic" data-sticky="true">
    <div class="nh-container">
      <div class="nh-inner">
        <div class="Logo-Header lh-custom">
          <%= link_to root_path, data: {no_turbolink: true} do %>
            <%= image_tag("southern-blasting-coating.jpg", :alt => "Southern Blasting & Coatings",  :class => "hlogo") %>
          <% end %>
        </div>

        <div class="mobile-nav-box">
          <a id="offcanvas-toggler" href="#mobile-navDrawer" uk-toggle><i class="fa fa-bars"></i></a>
        </div>

        <div class="nh-mainNav">
          <ul class="nav-main">
            <%= render 'layouts/nav' %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="mobile-navDrawer" class="mnav-drawer" uk-offcanvas="overlay:true">
  <div class="uk-offcanvas-bar">
    <button class="uk-offcanvas-close" type="button" uk-close></button>
    <ul class="nav menu">
      <%= render 'layouts/nav' %>
    </ul>
    <p class="mnav-call">Call Today: <a href="tel:+12512333699">(251) 233-3699</a></p>
  </div>
</div>